.colorfy {
    color: #1b4b7d;
}

/*begin document styles to load with closed tabs*/
.work-entry {
    display: none;
}

.education-entry {
    display: none;   
}

.project-entry {
    display: none;
}

.chartjs-hidden-iframe {
    width: 100%; 
    display: none; 
    border: 0px; 
    height: 0px; 
    margin-top: 20px; 
    position: absolute; 
    left: 0px; 
    right: 0px; 
    top: 0px; 
    bottom: 0px;
}

.myChart {
    margin-top: 50px;
}
/*end document styles to load with closed tabs*/


/*adding margins on the top and bottom of the entire document*/ 
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
/*end margins on the top and bottom of the entire document*/ 
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
body {
    font-size: 16px;
    background-color: #ffffff;
}
#main {
    max-width: 900px;
    /*changed from auto to none*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    border: 10px solid white;
    box-shadow: 2px 2px 20px #727272;
}
.education-entry,
.work-entry,
.project-entry,
.online-classes-entry {
    padding: 0 75px;
    font-weight: 300;
    font-size: 1.2em;
}
.work-entry:last-of-type {
    margin-bottom: 1.5em;
}
.project-entry:last-of-type {
    margin-bottom: 1.5em;
}
.online-classes-entry:last-of-type {
    margin-bottom: 1.5em;
}
.sub-section-divider {
    border: 1px dashed #eaeaea;
}
h1 {
    font-size: 40px;
    line-height: 48px;
    display: inline;
}
h2 {
    font-weight: bold;
    font-size: 24px;
    color: #999;
    line-height: 29px;
    padding: 10px;
}
h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}
h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}
h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}
p {
    font-size: 1.1em;
    color: #333;
    line-height: 21px;
}
a {
    color: inherit;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
.date-text p {
    font-style: italic;
    font-size: 0.8em;
    color: #999;
    line-height: 23px;
}
.location-text p {
    font-size: 0.8em;
    color: #999;
    line-height: 23px;
}
.description-text {
    font-size: 0.9em;
    line-height: 23px;
    color: #797979;
}
.gray {
    background-color: #F2F1EF;
    padding-bottom: 10px;
    font-size: 1em;
}

/* TODO: Replace with image later */

#header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background-color: #1b667db5;
    border-bottom: 1px solid #eaeaea;
    color: #ffffff;
}
.img-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.biopic {
    border-radius: 50%;
    border: 5px solid #b5b5b5;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px 20px #727272;
}
.name-div {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-shadow:
    1.5px 1.5px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
#name {
    font-weight: 400;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    text-align: center;
}
.role {
    font-size: 1.2em;
    color: inherit;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 40px;
}
.location-info {
    text-align: center;
    margin-top: 0.3em;
    width: 100%;
}
.location-icon {
    text-align: center;
    font-size: 1.5em;
    padding-right: 0.3em;
}
.location-text {
    display: inline;
    font-weight: 300;
    font-size: 1.1em;
}
.location-info:before {
    position: relative;
    display: block;
    content: ' ';
    background-color: #1b7d23d1;
    /*changed from 300px*/
    width: 100%;
    height: 3px;
    margin-bottom: 0.5em;
}
.contact-div {
    color: black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.contact-item {
    color: #bfbfbf;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0.3em;
}
.contact-item:first-of-type {
    margin-top: 0;
}
.contact-item a {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    color: #eaeaea;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact-icon-align-box {
    /*    width: 10%;*/
}
.contact-icon {
    color: white;
    font-size: 1em;
}
.contact-value {
    width: 80%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0.3em;
    margin-top: 0.3em;
}
.short-description {
    padding-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    width: 100%;
}
.short-description p {
    font-weight: 300;
    color: inherit;
    font-size: 1.1em;
}

/*    Work Experience Section     */

#work-experience {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    background-color: #fff;
}
#work-experience.active {
    border-bottom: 0;
}
.section-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}
.section-header.active {
    border-bottom: 0;
}
.section-icon {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 70px;
    color: #404040;
    font-size: 2.5em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}



.section-header-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color 0.9s;
    transition: background-color 0.9s;
}
.title-text {
    color: #404040;
    padding-left: 0.5em;
}
.pull-menu-icon {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    cursor: pointer;
    height: 100%;
    padding-right: 1em;
    width: 70px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #9a9999;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.icon-box {
    padding: 8px 12px;
    border: 1px solid #eaeaea;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.icon-box:hover {
    background-color: #eaeaea;
}
.sub-header {
    margin-top: 1.5em;
    color: #404040;
    font-weight: 400;
}

/*      End Work Section        */


/* PROJECTS SECTION */

#projects {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    background-color: #fff;
}
#projects.active {
    border-bottom: 0;
}
.project-entry img {
    width: 200px;
    height: 200px;
}
.project-screenshot {
    padding-top: 1em;
    padding-right: 1em;
}

/*      END PROJECTS SECTION        */


/*      EDUCATION SECTION       */

#education {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    background-color: #fff;
}
#education.active {
    border-bottom: 0;
}
.online-classes-sub-heading a {
    display: inline;
}
.online-classes-sub-heading {
    padding-top: 0.5em;
    padding-left: 2em;
}
.online-classes-sub-heading:before {
    font-family: "Ionicons";
    /*content: "\f3d3";*/
    padding-right: 0.5em;
}

/*      END PROJECTS SECTION    */


/*      MAPS DIV        */

#mapDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
#mapDiv.active {
    border-bottom: 0;
}
#map {
    display: inline-block;
    height: 400px;
    margin: 0;
}

/*      END MAPS        */

span {
    padding: 5px;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 750px) {
    #header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow-x: hidden;
    }
    #name {
        padding-top: 0.5em;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
    .role {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 0.5em;
    }
    .contact-div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 0.5em;
        padding: 0;
    }
    .contact-item {
        margin-top: 1em;
        padding-left: 2em;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .contact-item:first-of-type {
        margin-top: 1em;
        padding-left: 0;
    }
    .contact-value {
        display: none;
    }
    .contact-icon {
        font-size: 2em;
    }
    .contact-item a {
        width: 50px;
        height: 50px;
    }
    .short-description {
        width: 95%;
    }
}
@media only screen and (max-width:480px) {
    body {
        font-size: 14px;
    }
    /*changed from 85% to auto*/
    .short-description {
        width: auto;
    }
    .contact-item a {
        width: 35px;
        height: 35px;
    }
    .contact-icon {
        font-size: 1.6em;
    }
    .education-entry,
    .work-entry,
    .project-entry,
    .online-classes-entry {
        padding: 0 25px;
    }
    .project-entry img {
        width: 100px;
        height: 100px;
    }
}
